<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Please log in</title>
</head>
<body>
    <h1>Please log in</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <input type="text" name="Username" placeholder="UserName">
        </div>
        <div>
            <input type="password" name="Password" placeholder="Password">
        </div>
        <div>
            <input type="button" value="Log in">
        </div>
    </form>
</body>
</html>